/* alice.form 样式模块 */

@charset "utf-8";

.ui-form {
    font-size: 12px;
    line-height: 1.5;
}

.ui-form, .ui-form * {
    list-style: none;
}

.ui-form fieldset {
    border:0;
}

.ui-form legend {
    display: none;
}

.ui-form-explain {
    margin: 0;
    padding: 5px 0 0;
    font-size: 12px;
    color: #B2B2B2;
}

.ui-form-other {
    margin-left: 4px;
}

.ui-form-text {
    display: inline-block;
    margin-top: 6px;
    *display: inline;
    *zoom: 1;
}

.ui-form-item:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-form-item {
    padding: 0 5px 20px 170px;
    zoom: 1;
}

.ui-form-item select {
    vertical-align: middle;
    margin: 4px 0 0;
}

.ui-form-item input {
    vertical-align: middle;
}

.ui-form-item .ui-input {
    font-size: 12px;
    color: #595959;
    vertical-align: middle;
    *vertical-align: -5px;
}

.ui-form-item-error .ui-input,
.ui-form-item-error .ui-textarea {
    border: 1px #F00 solid;
    color: #F00;
}

.ui-form-item-error .ui-input-reset {
    border: 1px #9C9C9C solid;
    color: #000;
}

.ui-form-item-error .ui-form-explain {
    color: #FF5243;
}

@import url("./input.css");
@import url("./label.css");
