.ui-input {
    width: 170px;
    padding: 7px 9px;
    line-height: 18px;
    border: 1px solid #ccc;
    border-top-color: #a6a6a6;
    color: #595959;
    font-size: 12px;    
}

.ui-input:hover,
.ui-textarea:hover,
.ui-input-hover {
    border: 1px #a6a6a6 solid;
    border-top-color: #808080;
}

.ui-input:focus,
.ui-textarea:focus,
.ui-input-focus {
    border: 1px #07f solid;
    outline: 1px #8cddff solid; /* box-shadow: 0 0 3px #8cddff; */
    color: #595959;
}

.ui-textarea {
    width: 422px;
    height: 79px;
    line-height: 15px;
    border: 1px #9C9C9C solid;
    padding: 1px 3px 0 4px;
    overflow: auto;
    font-family: Arial;
    font-size: 12px;
}

.ui-input[disabled],
.ui-textarea[disabled] {
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.ui-input:disabled,
.ui-textarea:disabled {
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.placeholder {
    color: #ccc;
}

.ui-input-checkcode {
    width: 100px;
    height: 24px;
    line-height: 28px;
    margin: 0;
    padding: 2px 5px;
}

.ui-form-item-hover .ui-input,
.ui-form-item-hover .ui-textarea {
    border:1px #727272 solid;
}

.ui-form-item-focus .ui-input,
.ui-form-item-focus .ui-textarea {
    border: 1px #07f solid;
    outline: 1px #8cddff solid;
}

.ui-form-item-focus .ui-form-explain,
.ui-form-item-hover .ui-form-explain {
    color:#333;
}

