.ui-input {
    width: 170px;
    padding: 7px 9px;
    height: 12px;
    line-height: 12px;
    border: 1px solid #ccc;
    border-top-color: #a6a6a6;
    color: #595959;
}

.ui-input:hover, .ui-textarea:hover {
    border: 1px #a6a6a6 solid;
    border-top-color: #808080;
}

.ui-input:focus, .ui-textarea:focus {
    border: 1px #07f solid;
    outline: 1px #8cddff solid;
}

.ui-textarea {
    width: 422px;
    height: 79px;
    line-height: 15px;
    border: 1px #9C9C9C solid;
    padding: 1px 3px 0 4px;
    _padding: 1px 2px 0 5px;
    overflow: auto;
    font-family: Arial;
}

.ui-input[disabled],
.ui-textarea[disabled] {
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.ui-input:disabled,
.ui-textarea:disabled {
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.placeholder {
    color: #ccc;
}

.ui-input-checkcode {
    width: 100px;
    height: 24px;
    line-height: 28px;
    margin: 0;
    padding: 2px 5px;
}
